<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
    com.sample01.Price
  </listener-class>
  </listener>
  <listener>
    <listener-class>
    com.sample02.RobbitData
  </listener-class>
  </listener>
  <error-page>
    <exception-type>java.io.FileNotFoundException</exception-type>
    <location>/ErrorMsg</location>
  </error-page>
  <servlet>
    <servlet-name>totalInit</servlet-name>
    <jsp-file>/10_Course/total.jsp</jsp-file>
    <init-param>
      <param-name>Java</param-name>
      <param-value>90</param-value>
    </init-param>
    <init-param>
      <param-name>Android</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>PHP</param-name>
      <param-value>50</param-value>
    </init-param>
    <init-param>
      <param-name>VB</param-name>
      <param-value>70</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>totalInit</servlet-name>
    <url-pattern>/10_Course/total.jsp</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>favorite</taglib-uri>
      <taglib-location>/WEB-INF/tld/Favorite.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>toCheak</filter-name>
    <filter-class>com.sample00.toCheak</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>toCheak</filter-name>
    <url-pattern>/11_Tag_Filter/favoriteTest.jsp</url-pattern>
  </filter-mapping>
</web-app>